Repository remarkablemark/html-dom-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

feat: upgrade `domhandler` to 3.3.0 and `htmlparser2` to 4.1.0
  lib/html-to-dom-server.d.ts
  lib/html-to-dom-server.js
  lib/utilities.d.ts
  lib/utilities.js
  package.json
  test/types/index.test.ts
Due: npm run lint:fix, prettier --write

chore(release): 0.5.0
  CHANGELOG.md
  package.json
Due: prettier --write

ci(github): add `size-limit` GitHub Action workflow
  .github/workflows/size-limit.yml
  .size-limit.json
  package.json
Due: prettier --write

ci(github): run `commitlint` in `build` GitHub Action workflow
  .github/workflows/build.yml
Due: prettier --write

build(package): upgrade devDependencies
  package.json
Due: prettier --write

test(cases): add additional test cases for title and html entities
  test/cases/html.js
Due: npm run lint:fix

refactor(utilities): tidy types, JSDoc, and rename variables
  lib/utilities.d.ts
  lib/utilities.js
Due: npm run lint:fix

perf(utilities): continue if nodeType is not element, text, comment
  lib/utilities.js
Due: npm run lint:fix

refactor(lib): organize files into `client` and `server` folders
  index.d.ts
  index.js
  karma.conf.js
  lib/client/constants.d.ts
  lib/client/constants.js
  lib/client/domparser.d.ts
  lib/client/domparser.js
  lib/client/html-to-dom.d.ts
  lib/client/html-to-dom.js
  lib/client/utilities.d.ts
  lib/client/utilities.js
  lib/server/html-to-dom.d.ts
  lib/server/html-to-dom.js
  package.json
  test/client/index.js
  test/server/server.js
  tsconfig.json
Due: npm run lint:fix, prettier --write

build(package): upgrade `domhandler` to v4 and `htmlparser2` to v6
  karma.conf.js
  lib/server/html-to-dom.d.ts
  lib/server/html-to-dom.js
  lib/server/utilities.d.ts
  lib/server/utilities.js
  package.json
  test/helpers/run-tests.js
Due: npm run lint:fix, prettier --write

perf(client): deprecate Internet Explorer 9 (IE9)
  lib/client/domparser.js
  lib/client/html-to-dom.js
  lib/client/utilities.d.ts
  lib/client/utilities.js
Due: npm run lint:fix

test(cases): add test case for `<title>` with text as tags
  test/cases/html.js
Due: npm run lint:fix

refactor(client): cleanup `domparser` given IE9 deprecation
  lib/client/domparser.js
Due: npm run lint:fix

test(client): test missing coverage in utilities.formatDOM
  test/client/utilities.js
Due: npm run lint:fix

test(client): refactor the case-sensitive tag tests into a helper
  test/client/index.js
  test/helpers/index.js
  test/helpers/test-case-sensitive-tags.js
  test/server/server.js
Due: npm run lint:fix

docs(readme): fix output under "Example" and "Usage"
  README.md
Due: prettier --write

chore(release): 1.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

build(package): upgrade `standard-version` to 9.0.0
  package.json
Due: prettier --write

ci(github): add `dependabot.yml`
  .github/dependabot.yml
Due: prettier --write

ci(github): add optional fields to `dependabot.yml`
  .github/dependabot.yml
Due: prettier --write

chore(package): migrate husky 4 to 6
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.json
  package.json
Due: prettier --write

chore(commitlint): update "body-max-line-length" rule
  .commitlintrc.json
Due: prettier --write

style(test): upgrade prettier and fix lint
  package.json
  test/cases/html.js
  test/helpers/cycle.js
Due: npm run lint:fix, prettier --write

ci(github): name the steps in `build.yml` workflow
  .github/workflows/build.yml
Due: prettier --write

build(package): upgrade webpack from 4.44.2 to 5.38.1
  package.json
  webpack.test.config.js
Due: npm run lint:fix, prettier --write

chore: update TypeScript version in declaration files
  index.d.ts
  lib/client/constants.d.ts
  lib/client/domparser.d.ts
  lib/client/html-to-dom.d.ts
  lib/client/utilities.d.ts
  lib/server/html-to-dom.d.ts
  lib/server/utilities.d.ts
Due: none

docs(readme): remove $ from code blocks
  README.md
Due: prettier --write

test(karma): require `domelementtype` in files and preprocessors
  karma.conf.js
Due: npm run lint:fix

chore(release): 1.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

docs(changelog): tidy headings and run through prettier
  CHANGELOG.md
Due: prettier --write

ci(github): add workflow `release.yml`
  .github/workflows/release.yml
Due: prettier --write

ci(github): use default Node.js version in workflow `build.yml`
  .github/workflows/build.yml
Due: prettier --write

build(package): remove caret from devDependency versions
  package.json
Due: prettier --write

ci(github): cache dependencies in workflow `build.yml`
  .github/workflows/build.yml
Due: prettier --write

build(package): remove `test:client` from prepublishOnly script
  package.json
Due: prettier --write

ci(github): replace Coveralls with Codecov in workflow `build.yml`
  .github/workflows/build.yml
Due: prettier --write

Path conditions:
  npm run lint:fix: any of: *.js
  prettier --write: any of: *.{html,json,md,yml}
