Repository remarkablemark/html-dom-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

ci: increase package size by 17 B in .size-limit.json
  .size-limit.json
Due: prettier --write

fix(client): fix import in html-to-dom.mjs
  lib/client/html-to-dom.js
  lib/client/html-to-dom.mjs
Due: npm run lint:fix

ci(github): update dependabot.yml
  .github/dependabot.yml
Due: prettier --write

ci(github): update mergify.yml
  .github/mergify.yml
Due: prettier --write

build(package): upgrade devDependencies
  package.json
Due: prettier --write

build(package): update build script to fail after warnings
  package.json
Due: prettier --write

fix(package): specify types in package.json and exports field
  package.json
Due: prettier --write

ci(github): add SECURITY.md
  .github/SECURITY.md
Due: prettier --write

docs(readme): add security contact information
  README.md
Due: prettier --write

ci(github): add workflow auto-assign.yml
  .github/workflows/auto-assign.yml
Due: prettier --write

docs(github): migrate to ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Due: prettier --write

ci(github): fix workflow auto-assign.yml
  .github/workflows/auto-assign.yml
Due: prettier --write

ci(github): improve workflow auto-assign.yml
  .github/workflows/auto-assign.yml
Due: prettier --write

fix(client): get template content childNodes in utilities formatDOM
  lib/client/utilities.js
Due: npm run lint:fix

test: add html cases for template
  test/cases/html.js
Due: npm run lint:fix

ci(size-limit): increase package size limit from 3.89 KB to 3.894 KB
  .size-limit.json
Due: prettier --write

fix(client): check for "template" in utilities formatDOM
  lib/client/utilities.js
  test/cases/html.js
Due: npm run lint:fix

ci(size-limit): increase size limit from 3.894 KB to 3.9 KB
  .size-limit.json
Due: prettier --write

docs(readme): replace shield badges with badgen
  README.md
Due: prettier --write

documented options
  README.md
Due: prettier --write

documentation correction
  README.md
Due: prettier --write

docs(readme): document options
  README.md
Due: prettier --write

fix(client): correct spelling of feGaussianBlur
  lib/client/constants.js
Due: npm run lint:fix

chore(github): create CODEOWNERS
  .github/CODEOWNERS
Due: none

ci(github): delete auto-assign.yml
  .github/workflows/auto-assign.yml
Due: prettier --write

build(deps): bump htmlparser2 from 8.0.1 to 8.0.2
  package.json
Due: prettier --write

chore(github): update CODEOWNERS to ignore package.json
  .github/CODEOWNERS
Due: none

ci(github): merge with squash in mergify.yml
  .github/mergify.yml
Due: prettier --write

ci(size-limit): increase size limit from 3.9 KB to 4 KB
  .size-limit.json
Due: prettier --write

docs(readme): remove security contact section
  README.md
Due: prettier --write

build(package): save package-lock.json and remove .npmrc
  .npmrc
  package-lock.json
Due: prettier --write

chore(github): add package-lock.json to CODEOWNERS
  .github/CODEOWNERS
Due: none

build(nvmrc): set Node.js version to 18
  .nvmrc
Due: none

ci(github): remove actions/cache in build.yml and commitlint.yml
  .github/workflows/build.yml
  .github/workflows/commitlint.yml
Due: prettier --write

build(deps): bump htmlparser2 from 8.0.2 to 9.0.0
  package-lock.json
  package.json
Due: prettier --write

test(module): refactor module tests
  .github/workflows/build.yml
  package.json
  test/module/index.mjs
  test/module/index.test.mjs
Due: prettier --write

docs(readme): document v4 migration
  README.md
Due: prettier --write

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

docs(readme): tidy code blocks
  README.md
Due: prettier --write

Path conditions:
  npm run lint:fix: any of: *.js
  prettier --write: any of: *.{html,json,md,yml}
