Repository remarkablemark/html-dom-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

docs(readme): update commands and code blocks in Testing section
  README.md
Due: prettier --write

chore(lib): remove unused default statement in utilities formatDOM
  lib/utilities.js
Due: npm run lint:fix

style(lib): tidy `html-to-dom-client.js`
  lib/html-to-dom-client.js
Due: npm run lint:fix

test(cases): add empty string test case to `html.js`
  test/cases/html.js
Due: npm run lint:fix

chore(lib): tidy JSDoc and comments in `domparser.js`
  lib/domparser.js
Due: npm run lint:fix

style(lib): refactor exports of `html-to-dom-server.js`
  lib/html-to-dom-server.js
Due: npm run lint:fix

fix(lib): improve head and body regex in `domparser.js`
  lib/domparser.js
  test/cases/html.js
Due: npm run lint:fix

test(cases): add more special test cases to `html.js`
  test/cases/html.js
Due: npm run lint:fix

style(lib): change single-line if statement to multiline in domparser
  lib/domparser.js
Due: npm run lint:fix

refactor(lib): consolidate switch cases (head & body) in `domparser`
  lib/domparser.js
Due: npm run lint:fix

refactor(lib): rename constants in `domparser.js`
  lib/domparser.js
Due: npm run lint:fix

chore(release): 0.2.3
  CHANGELOG.md
  package.json
Due: prettier --write

feat(lib): throw error if browser does not support parsing methods
  lib/domparser.js
Due: npm run lint:fix

perf(lib): return `[]` if empty string is passed to server parser
  lib/html-to-dom-server.js
Due: npm run lint:fix

chore(github): add `FUNDING.yml`
  .github/FUNDING.yml
Due: prettier --write

chore(github): add `ISSUE_TEMPLATE.md`
  .github/ISSUE_TEMPLATE.md
Due: prettier --write

chore(github): add `PULL_REQUEST_TEMPLATE.md`
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

add failing test case
  test/cases/index.js
  test/cases/with-script.html
Due: npm run lint:fix, prettier --write

build(package): lock the version of mocha to 6.2.2
  package.json
Due: prettier --write

chore(test): comment and organize html test cases
  test/cases/html.js
Due: npm run lint:fix

test(cases): add invalid html cases for self-closing div and p
  test/cases/html.js
Due: npm run lint:fix

test(cases): add additional script and style test cases to html
  test/cases/html.js
Due: npm run lint:fix

test(cases): add html test cases for noscript tag
  test/cases/html.js
Due: npm run lint:fix

test(cases): add test case for html5 audio tag
  test/cases/html.js
Due: npm run lint:fix

test(cases): add test case for conditional comment (IE check)
  test/cases/html.js
Due: npm run lint:fix

test: add and fix test for html entities
  test/cases/html.js
  test/helpers/run-tests.js
Due: npm run lint:fix

build(package): upgrade husky to 4.2.5
  .huskyrc.json
  package.json
Due: prettier --write

chore(package): rename script dtslint -> lint:dts
  .huskyrc.json
  .travis.yml
  README.md
  package.json
Due: prettier --write

build(package): upgrade lint-staged to 10.2.7
  .lintstagedrc
  .lintstagedrc.json
  package.json
Due: prettier --write

build(package): upgrade eslint to 7.1.0
  .eslintrc.json
  package.json
Due: prettier --write

build(package): upgrade prettier to 2.0.5
  .prettierrc
  .prettierrc.json
  lib/domparser.js
  package.json
  test/client/index.js
  test/helpers/run-tests.js
  test/helpers/throws-error.js
  test/server/index.js
Due: npm run lint:fix, prettier --write

ci(travis): move coveralls script from package.json to .travis.yml
  .travis.yml
  package.json
Due: prettier --write

build(package): upgrade devDependencies
  package.json
Due: prettier --write

build(package): save typescript@3.9.3 to devDependencies
  package.json
Due: prettier --write

chore(eslint): set parserOptions.sourceType to "module"
  .eslintrc.json
Due: prettier --write

build(package): save rollup and plugins to devDependencies
  package.json
Due: prettier --write

build(package): update build script to use rollup
  package.json
Due: prettier --write

build(rollup): add rollup.config.js that builds min and unmin
  rollup.config.js
Due: npm run lint:fix

build(package): downgrade standard-version@5
  package.json
Due: prettier --write

chore(release): 0.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  npm run lint:fix: any of: *.js
  prettier --write: any of: *.{html,json,md,yml}
