Repository remarkablemark/html-dom-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

chore: add `.huskyrc` with commit-msg and pre-commit hooks
  .huskyrc
Due: none

chore(package): alphabetize npm scripts
  package.json
Due: none

build(package): update dependencies and devDependencies
  package.json
Due: none

build(package): update `webpack` and save `webpack-cli`
  package.json
Due: none

chore: add "files" to `package.json` and remove `.npmignore`
  .npmignore
  package.json
Due: none

chore(package): update "description" and "keywords"
  package.json
Due: none

docs(readme): update sentences and code blocks; add special thanks
  README.md
Due: prettier --write

chore(package): rename npm script `cover` to `test:coverage`
  .travis.yml
  README.md
  package.json
Due: prettier --write

ci(travis): replace `after_script` with `after_success`
  .travis.yml
Due: prettier --write

chore(examples): add `examples/index.html`
  examples/index.html
Due: none

docs(readme): add link to examples
  README.md
Due: prettier --write

chore(git): update `.huskyrc` to run `npm test` in pre-commit hook
  .huskyrc
Due: none

chore(lint): update `.lintstagedrc` to run prettier for html & json
  .lintstagedrc
Due: none

docs(readme): add shields badge for monthly npm downloads
  README.md
Due: prettier --write

docs(readme): update code blocks and sentence in usage
  README.md
Due: prettier --write

chore(test): rename `index.js` to `html-to-dom-server.js`
  test/html-to-dom-server.js
Due: npm run lint:fix

chore(package): save `mock-require` and `sinon` to devDependencies
  package.json
Due: none

test(helpers): move helper that tests for errors to separate file
  test/helpers/throws-error.js
  test/html-to-dom-server.js
Due: npm run lint:fix

test(helpers): refactor and move `runTests` to its own file
  test/helpers/run-tests.js
  test/html-to-dom-server.js
Due: npm run lint:fix

test(cases): refactor test cases and move html data to its own file
  test/cases/html.js
  test/cases/index.js
  test/helpers/run-tests.js
Due: npm run lint:fix

test(server): move `html-to-dom-server.js` to `server` directory
  package.json
  test/server/server.js
Due: npm run lint:fix

test(server): add tests that spy and mock htmlparser2 and domhandler
  test/server/index.js
Due: npm run lint:fix

test(server): remove skipped test
  test/server/index.js
Due: npm run lint:fix

chore(package): add scripts `test:server` & `test:server:coverage`
  package.json
Due: none

chore(package): run additional commands in script `prepublishOnly`
  package.json
Due: none

chore(package): save karma and related modules to devDependencies
  package.json
Due: none

test(helpers): create `index.js` which exports helpers
  test/helpers/index.js
  test/server/server.js
Due: npm run lint:fix

test(cases): update `complex.html`
  test/cases/complex.html
Due: none

test(cases): skip html test cases that PhantomJS does not support
  test/cases/html.js
Due: npm run lint:fix

test(client): add tests for client parser that will be run by karma
  test/client/index.js
Due: npm run lint:fix

chore(karma): add `karma.conf.js`
  karma.conf.js
Due: npm run lint:fix

chore(package): add scripts for running client or karma tests
  package.json
Due: none

chore(package): update scripts with `npm-run-all`
  package.json
Due: none

ci(travis): run client and server tests, fix coverage, and run build
  .travis.yml
Due: prettier --write

ci(travis): add chrome stable to addons
  .travis.yml
Due: prettier --write

ci(travis): set up virtual screen so chrome runs headless
  .travis.yml
Due: prettier --write

ci(travis): remove `xvfb` from `before_script` and add to `services`
  .travis.yml
Due: prettier --write

chore(package): upgrade devDependencies
  package.json
Due: none

chore(package): replace `instabul` with `nyc` and update scripts
  package.json
Due: none

test(cases): remove unnecessary try/catch wrapper to fix lint error
  test/cases/index.js
Due: npm run lint:fix

Path conditions:
  npm run lint:fix: any of: *.js
  prettier --write: any of: *.{md,yml}
