Repository remarkablemark/html-dom-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "npm run lint:fix",
    "git add"
  ],
  "*.{html,json,md,yml}": [
    "prettier --write",
    "git add"
  ]
}

.lintstagedrc.json:

{
  "*.js": "npm run lint:fix",
  "*.{html,json,md,yml}": "prettier --write"
}

chore(github): add GitHub Sponsors username to FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

build(rollup): replace rollup-plugin-uglify with rollup-plugin-terser
  package.json
  rollup.config.js
Due: npm run lint:fix, prettier --write

build(package): upgrade `dtslint` and `typescript`
  package.json
Due: prettier --write

build(package): upgrade `webpack` and add `webpack.test.config.js`
  package.json
  webpack.test.config.js
Due: npm run lint:fix, prettier --write

build(package): upgrade devDependencies
  package.json
Due: prettier --write

chore(examples): update placeholder text in `index.html`
  examples/index.html
Due: prettier --write

chore(html-to-dom-client): tidy JSDoc and rename function
  lib/html-to-dom-client.js
Due: npm run lint:fix

chore(html-to-dom-server): tidy JSDoc and rename function
  lib/html-to-dom-server.js
Due: npm run lint:fix

refactor(utilities): tidy JSDoc and rename variable
  lib/utilities.js
Due: npm run lint:fix

test(cases): update `read` helper to resolve instead of join path
  test/cases/index.js
Due: npm run lint:fix

test: remove PhantomJS and update Karma and test cases
  karma.conf.js
  package.json
  test/cases/html.js
Due: npm run lint:fix, prettier --write

chore: remove unused `tslint.json`
  tslint.json
Due: prettier --write

chore(index): update `index.d.ts`
  index.d.ts
Due: none

chore(constants): update comment with TypeScript version (3.3 -> 4.1)
  lib/constants.d.ts
Due: none

chore(domparser): update JSDoc and declaration file
  lib/domparser.d.ts
  lib/domparser.js
Due: npm run lint:fix

chore(html-to-dom-client): update JSDoc and declaration file
  lib/html-to-dom-client.d.ts
  lib/html-to-dom-client.js
Due: npm run lint:fix

chore(html-to-dom-server): update JSDoc and declaration file
  lib/html-to-dom-server.d.ts
  lib/html-to-dom-server.js
Due: npm run lint:fix

chore(utilities): update JSDoc and declaration file
  lib/utilities.d.ts
  lib/utilities.js
Due: npm run lint:fix

chore(github): add Types to checklist in `PULL_REQUEST_TEMPLATE.md`
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

test(karma): tidy Karma configuration and add comments
  karma.conf.js
Due: npm run lint:fix

test(karma): change Karma's `debug.html` to the Mocha web reporter
  karma.conf.js
Due: npm run lint:fix

test(client): refactor Karma client tests and helpers
  test/client/index.js
  test/helpers/run-tests.js
Due: npm run lint:fix

test(client): enable performance test for client parser
  test/client/index.js
Due: npm run lint:fix

test(server): refactor mocks for server parser
  test/server/index.js
Due: npm run lint:fix

test: refactor argument order for test helpers
  test/client/index.js
  test/helpers/run-tests.js
  test/helpers/throws-error.js
  test/server/server.js
Due: npm run lint:fix

test(helpers): rename test helper `throwsError` to `throwErrors`
  test/client/index.js
  test/helpers/index.js
  test/helpers/throw-errors.js
  test/server/server.js
Due: npm run lint:fix

ci(github): add Node.js workflow using GitHub Actions
  .github/workflows/build.yml
  package.json
Due: prettier --write

docs(readme): update build status badge and scripts in `Testing`
  README.md
Due: prettier --write

ci(travis): delete `.travis.yml`
  .travis.yml
Due: prettier --write

docs(readme): add domhandler to `Special Thanks`
  README.md
Due: prettier --write

test(helpers): refactor `runTests` and `throwErrors`
  test/helpers/run-tests.js
  test/helpers/throw-errors.js
Due: npm run lint:fix

test(server): improve test names
  test/server/index.js
Due: npm run lint:fix

test(helpers): add `cycle.js` which will be used by Karma later
  test/helpers/cycle.js
Due: npm run lint:fix

chore(domparser): add JSDoc param name to type declaration file
  lib/domparser.d.ts
Due: none

chore(html-to-dom-server): add JSDoc param names to declaration file
  lib/html-to-dom-server.d.ts
Due: none

chore(html-to-dom-client): add JSDoc param name to declaration file
  lib/html-to-dom-client.d.ts
Due: none

chore(release): 0.3.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat: upgrade `domhandler` to 3.0.0 and `htmlparser` to 4.0.0
  karma.conf.js
  lib/html-to-dom-client.d.ts
  lib/html-to-dom-server.d.ts
  lib/html-to-dom-server.js
  lib/utilities.d.ts
  lib/utilities.js
  package.json
  test/helpers/run-tests.js
  test/server/index.js
  test/types/index.test.ts
Due: npm run lint:fix, prettier --write

chore(release): 0.4.0
  CHANGELOG.md
  package.json
Due: prettier --write
