Repository remarkablemark/html-dom-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

Remove unused dependencies declared in package.json
  package.json
Due: prettier --write

build(rollup): upgrade rollup to v4 and replace terser plugin
  package-lock.json
  package.json
  rollup.config.mjs
Due: prettier --write

build(package): upgrade devDependencies
  package-lock.json
  package.json
  rollup.config.mjs
Due: prettier --write

chore(package): remove unnecessary "types" field from package.json
  package.json
Due: prettier --write

docs(readme): add v2 and v1 to migration
  README.md
Due: prettier --write

build(package): upgrade dtslint and update .eslintrc.json
  .eslintrc.json
  package-lock.json
  package.json
  tslint.json
Due: prettier --write

chore: remove TypeScript Version from declaration files
  index.d.ts
  lib/client/constants.d.ts
  lib/client/domparser.d.ts
  lib/client/html-to-dom.d.ts
  lib/client/utilities.d.ts
  lib/server/html-to-dom.d.ts
  lib/server/utilities.d.ts
Due: none

test(tslint): fix dtslint error "no-redundant-jsdoc"
  tslint.json
Due: prettier --write

chore(index): set TypeScript Version to 5.2 in index.d.ts
  index.d.ts
Due: none

chore(lib): remove build artifacts
  .gitignore
  lib/client/constants.d.ts
  lib/client/constants.js
  lib/client/domparser.d.ts
  lib/client/domparser.js
  lib/client/html-to-dom.d.ts
  lib/client/html-to-dom.js
  lib/client/utilities.d.ts
  lib/client/utilities.js
  lib/server/html-to-dom.d.ts
  lib/server/html-to-dom.js
  lib/server/utilities.d.ts
  lib/server/utilities.js
Due: npm run lint:fix

chore: add `lib` to .gitignore and fix npm test script
  .gitignore
  package.json
Due: prettier --write

build(package): update test devDependencies
  package-lock.json
  package.json
Due: prettier --write

test(server): refactor tests to TypeScript
  .mocharc.json
  package.json
  src/server/html-to-dom.ts
  test/server/client.js
  test/server/client.test.ts
  test/server/index.js
  test/server/index.test.ts
  test/server/server.test.ts
Due: npm run lint:fix, prettier --write

style: update .eslintrc.json and fix lint errors
  .eslintrc.json
  package-lock.json
  package.json
  src/client/domparser.ts
  src/server/utilities.ts
Due: prettier --write

chore(client): ignore domparser errors from test coverage
  src/client/domparser.ts
Due: none

chore(package): fix npm test script
  package.json
Due: prettier --write

fix(package): add types to exports in package.json
  package.json
Due: prettier --write

fix(package): add "/src" to files to fix source map warning
  package.json
Due: prettier --write

chore(tsconfig): remove "forceConsistentCasingInFileNames"
  tsconfig.json
Due: prettier --write

refactor(html-to-dom): tidy early return in client and server
  src/client/html-to-dom.ts
  src/server/html-to-dom.ts
Due: none

refactor(types): tidy types in client and server utilities
  src/client/utilities.ts
  src/server/utilities.ts
  src/types.ts
Due: none

build(package): add "types" field to package.json
  package.json
Due: prettier --write

chore(client): ignore line in domparser from test coverage
  src/client/domparser.ts
Due: none

chore: export types from index.ts
  src/index.ts
Due: none

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

chore(husky): run `test:esm` in pre-commit
  .husky/pre-commit
Due: none

chore(husky): tidy commit-msg and pre-commit
  .husky/commit-msg
  .husky/pre-commit
Due: none

build(package): save `ts-node` to devDependencies
  package-lock.json
  package.json
Due: prettier --write

ci(github): replace `npm install` with `npm ci` in workflows
  .github/workflows/build.yml
  .github/workflows/commitlint.yml
  .github/workflows/release.yml
Due: prettier --write

ci(github): tidy workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

build(nvmrc): bump Node.js version from 18 to 20
  .nvmrc
Due: none

fix(esm): support vite bundler
  esm/client/html-to-dom.mjs
  esm/index.mjs
  esm/server/html-to-dom.mjs
Due: none

chore: update .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

fix(esm): fix ESM types by adding .mts declaration files
  .gitignore
  esm/client/html-to-dom.d.mts
  esm/index.d.mts
  esm/server/html-to-dom.d.mts
  package.json
Due: prettier --write

docs(readme): improve wording
  README.md
Due: prettier --write

fix: Re-export types correctly for verbatimModuleSyntax
  src/types.ts
Due: none

fix: re-export types correctly for verbatimModuleSyntax (#612)
  src/types.ts
Due: none

Path conditions:
  npm run lint:fix: any of: *.js
  prettier --write: any of: *.{html,json,md,yml}
