Repository remarkablemark/html-dom-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "npm run lint:fix",
    "git add"
  ],
  "*.{html,json,md,yml}": [
    "prettier --write",
    "git add"
  ]
}

.lintstagedrc.json:

{
  "*.js": "npm run lint:fix",
  "*.{html,json,md,yml}": "prettier --write"
}

docs(readme): add Codecov badge to README.md
  README.md
Due: prettier --write

ci(github): add mergify.yml that merges Dependabot devDeps PRs
  .github/mergify.yml
Due: prettier --write

chore(package): add script "size-limit"
  package.json
Due: prettier --write

perf: upgrade dependency htmlparser2 to v7.2.0
  package.json
Due: prettier --write

docs(changelog): tidy CHANGELOG.md headings
  CHANGELOG.md
Due: prettier --write

docs(readme): remove david-dm status badge
  README.md
Due: prettier --write

chore(github): add Conventional Commits to PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

docs(changelog): tidy release 1.0.4
  CHANGELOG.md
Due: prettier --write

docs(readme): update replit link
  README.md
Due: prettier --write

build(package): remove standard-version and update README
  README.md
  package.json
Due: prettier --write

ci(github): set Node.js version to 14 in build.yml workflow
  .github/workflows/build.yml
Due: prettier --write

ci(github): remove myself from dependabot.yml
  .github/dependabot.yml
Due: prettier --write

feat: add ES Module support
  index.mjs
  package.json
Due: prettier --write

test(module): check that ESM exports default
  package.json
  test/module/index.mjs
Due: prettier --write

ci(github): run ESM test in workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

build(package): upgrade devDependencies
  .size-limit.json
  package.json
Due: prettier --write

chore: update TypeScript Version to 4.7 in declaration files
  index.d.ts
  lib/client/constants.d.ts
  lib/client/domparser.d.ts
  lib/client/html-to-dom.d.ts
  lib/client/utilities.d.ts
  lib/server/html-to-dom.d.ts
  lib/server/utilities.d.ts
Due: none

build(package): upgrade domhandler from 4.3.0 to 4.3.1
  package.json
Due: prettier --write

ci(size-limit): increase limit from 3.13 KB to 3.18 KB
  .size-limit.json
Due: prettier --write

docs(changelog): tidy CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

test(types): fix dtslint expect errors
  .husky/pre-commit
  test/types/index.test.ts
Due: none

test(karma): exclude domelementtype esm files in karma
  karma.conf.js
Due: npm run lint:fix

feat: add compatibility for react-native
  package.json
Due: prettier --write

ci(github): update workflow release.yml
  .github/workflows/release.yml
Due: prettier --write

fix: use domhandler exports field
  lib/client/utilities.js
Due: npm run lint:fix

feat(client): remove Internet Explorer (IE11) support
  lib/client/domparser.js
  lib/client/utilities.d.ts
  lib/client/utilities.js
Due: npm run lint:fix

build(package): bump webpack from 5.70.0 to 5.73.0
  package.json
Due: prettier --write

build: upgrade domhandler to 5.0.3 and htmlparser2 to 8.0.1
  karma.conf.js
  lib/client/constants.js
  lib/client/utilities.js
  lib/server/html-to-dom.js
  package.json
  rollup.config.js
  test/client/index.js
  test/client/utilities.js
  test/server/client.js
  test/server/index.js
  webpack.test.config.js
Due: npm run lint:fix, prettier --write

test(types): fix dtslint
  lib/server/html-to-dom.d.ts
  test/types/index.test.ts
Due: none

docs: add migration section
  README.md
Due: prettier --write

ci(size-limit): bump limit from 3.18 KB to 3.87 KB
  .size-limit.json
Due: prettier --write

docs: fix migration version
  README.md
Due: prettier --write

docs(readme): add prettier ignore for code block
  README.md
Due: prettier --write

chore(examples): use unminified parser so debugger isn't stripped
  examples/index.html
Due: prettier --write

fix(client): ensure head and body with newline are parsed correctly
  lib/client/domparser.js
Due: npm run lint:fix

test: add html cases for head and body with newlines
  test/cases/html.js
Due: npm run lint:fix

ci(github): modularize workflow commitlint.yml from build.yml
  .github/workflows/build.yml
  .github/workflows/commitlint.yml
Due: prettier --write

feat: add esm for client
  index.js
  lib/client/html-to-dom.mjs
  package.json
Due: npm run lint:fix, prettier --write

fix(client): correct ECMAScript export in client html-to-dom.mjs
  lib/client/html-to-dom.mjs
Due: none

test(module): add ES Module test for client html-dom-parser.mjs
  lib/client/domparser.js
  test/module/index.mjs
Due: npm run lint:fix
