Repository remarkablemark/html-dom-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "npm run lint:fix",
    "git add"
  ],
  "*.{html,json,md,yml}": [
    "prettier --write",
    "git add"
  ]
}

.lintstagedrc.json:

{
  "*.js": "npm run lint:fix",
  "*.{html,json,md,yml}": "prettier --write"
}

ci(github): create workflow assign-reviewer.yml
  .github/workflows/assign-reviewer.yml
Due: prettier --write

ci(github): fix workflow assign-reviewer.yml
  .github/workflows/assign-reviewer.yml
Due: prettier --write

ci(github): refactor workflow assign-reviewer.yml
  .github/workflows/assign-reviewer.yml
Due: prettier --write

ci(github): add CODECOV_TOKEN to workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

chore(husky): migrate to husky 9
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

build(package): fix 1 moderate severity vulnerability
  package-lock.json
Due: prettier --write

Make the repo ESM first
  .mocharc.json
  README.md
  esm/client/html-to-dom.d.ts
  esm/client/html-to-dom.js
  esm/index.d.mts
  esm/index.d.ts
  esm/index.js
  esm/server/html-to-dom.d.ts
  esm/server/html-to-dom.js
  examples/index.html
  karma.conf.cjs
  package.json
  rollup.config.mjs
  test/cases/html.js
  test/cases/index.js
  test/client/index.js
  test/helpers/index.js
  test/helpers/run-tests.js
  test/helpers/test-case-sensitive-tags.js
  test/helpers/throw-errors.js
  test/server/server.test.ts
Due: npm run lint:fix, prettier --write

fix(esm): fix exported types
  esm/index.d.mts
Due: none

ci(github): continue on error in assign-reviewer.yml
  .github/workflows/assign-reviewer.yml
Due: prettier --write

ci(github): update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

build(deps-dev): bump @typescript-eslint/eslint-plugin from 7.0.0 to 7.0.1
  package-lock.json
  package.json
Due: prettier --write

build(package): fix 1 high severity vulnerability
  package-lock.json
Due: prettier --write

Fix module resolution failure in ESM mode
  esm/client/html-to-dom.d.mts
  esm/server/html-to-dom.d.mts
  src/client/html-to-dom.ts
  src/client/utilities.ts
  src/index.ts
  src/server/html-to-dom.ts
  src/server/utilities.ts
  test/server/client.test.ts
  test/server/index.test.ts
  test/server/server.test.ts
  test/types/index.test.ts
Due: none

chore(husky): don't make commit-msg and pre-commit executable
  .husky/commit-msg
  .husky/pre-commit
Due: none

ci(github): update dependabot.yml
  .github/dependabot.yml
Due: prettier --write

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

fix: exports field includes package.json
  package.json
Due: prettier --write

chore: fix eslint errors
  .eslintrc.json
Due: prettier --write

chore(eslint): migrate to eslint 9
  .eslintrc.json
  .github/dependabot.yml
  eslint.config.mjs
  package-lock.json
  package.json
  src/client/domparser.ts
Due: prettier --write

build(package): fix severity vulnerabilities
  package-lock.json
Due: prettier --write

style: add `eslint-plugin-simple-import-sort`
  eslint.config.mjs
  esm/server/html-to-dom.d.mts
  package-lock.json
  package.json
  src/client/utilities.ts
  src/index.ts
  src/server/html-to-dom.ts
  test/server/client.test.ts
Due: prettier --write

ci(github): publish package to npm registry with provenance
  .github/workflows/release-please.yml
Due: prettier --write

build(package): save `@types/node` to fix typescript error
  package-lock.json
  package.json
Due: prettier --write

ci(github): modularize workflows lint and test from build
  .github/mergify.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier --write

ci(github): replace xvfb action in test.yml
  .github/workflows/test.yml
Due: prettier --write

ci(github): tidy workflow test.yml
  .github/workflows/test.yml
Due: prettier --write

ci(github): tidy codecov in workflow build.yml
  .github/workflows/test.yml
Due: prettier --write

fix: enable client parser to retain carriage return characters
  src/client/domparser.ts
  src/client/utilities.ts
Due: none

fix: enable client parser to retain carriage return characters
  src/client/utilities.ts
Due: none

chore: only find \r not \n
  src/client/domparser.ts
Due: none

chore: add missing tests
  package-lock.json
  package.json
  src/client/domparser.ts
  src/client/utilities.ts
  test/cases/html.js
  test/server/client.test.ts
Due: npm run lint:fix, prettier --write

chore: add missing tests
  package-lock.json
  package.json
Due: prettier --write

fix: enable client parser to retain carriage return characters (#902)
  package-lock.json
  src/client/domparser.ts
  src/client/utilities.ts
  test/cases/html.js
  test/server/client.test.ts
Due: npm run lint:fix, prettier --write

build(package): bump @rollup/plugin-typescript from 11.1.6 to 12.1.1
  package-lock.json
  package.json
  rollup.config.mjs
Due: prettier --write

test: remove @ts-ignore and add TypeScript declaration files
  test/cases/index.d.ts
  test/helpers/index.d.ts
  test/server/server.test.ts
Due: none

fix(client): don't break LaTeX when replacing carriage returns
  src/client/constants.ts
  src/client/utilities.ts
  test/cases/html.js
  test/cases/index.js
  test/server/client.test.ts
Due: npm run lint:fix

build(package): bump @rollup/plugin-typescript from 12.1.1 to 12.1.2
  package-lock.json
  package.json
Due: prettier --write

build(package): correct repository url error
  package.json
Due: prettier --write

chore(examples): log the parsed output
  examples/index.html
Due: prettier --write

chore(github): delete FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write
